#header {background:url(../../images/top_bg.png); width: 1080px; height: 175px; box-shadow: 0px 5px 15px rgba(149,27,19,.5); position: relative;}
#header .tit {font-size: 68px; font-family: noto sans mid; text-shadow: 5px 5px 3px rgba(0, 0, 0, .1); text-align: center; padding-top: 35px; color: #fff;}
#header .btn-home {width: 97px; height: 107px; background: url(../../Images/btn_home.png) no-repeat; position: absolute; top: 38px;; right: 54px;}


#container #contents {position: relative; height: 1920px;}  
#container #contents .photo_btn {position: absolute; display: block; float: left; margin-top: -14px;margin-left: 232px;}
#container #contents .photo_btn  li {float: left;}
#container #contents .photo_frame {position: absolute; float: left; margin-left: 73px; margin-top: 189px;}
#container #contents .photo_frame dd {float:left; margin-right: 39px;}

ul{list-style-type: none;}

body {
	margin: 0px;
	padding: 0px;
	background-image: url("../../Images/photo_bg.png");
	background-repeat: no-repeat;
	overflow : hidden;
	background-position-y: 130px;

}
/*
.home{
	text-align: right;
	height: 100px;
	padding: 25px;	
}
*/
canvas  {
	position: absolute;
	margin-top: 0px;
	margin-left: -914px;
}
.capture {
	position: absolute;
	margin-top: 0px;
	margin-left: -914px;
}

.pannel {
	margin-top: 375px;
	
	text-align: center;
}
.frame {position: absolute; z-index: 100; margin-top: -686px; margin-left: 85px;}
.photo_start {position: absolute; margin-top: -686px; margin-left: 85px;}
.email_state {position: absolute; z-index: 10; margin-top: -686px; margin-left: 85px;}
/*
.email {
	position: absolute;
	margin-top: 682px;
	margin-left: -914px;
}

.print {
	position: absolute;
	margin-top: 45px;
	margin-left: -627px;
}

.retake {
	position: absolute;
	margin-top: 682px;
	margin-left: -459px;
}

.capture {
	position: absolute;
	margin-top: 0px;
	margin-left: -914px;
}

.btn_pannel{
	position: absolute;
	margin-top: 0px;
	margin-left: -914px;
}
*/
.number_img {
	position: absolute;
	margin-top: -450px;
	margin-left: 450px;
}

.keyboard {	
	text-align: center;
	background-image: url('../../Images/keyboard/keyboard_bg.png');
	background-repeat: no-repeat;
	width: 1080px;
	margin-top: -453px;
	position: absolute;
    z-index: 101;
}

.top{
	margin-right: 10px;
	margin-top: 5px;
	padding-top: 15px;
	text-align: right;
}

.address {
    position: absolute;
	left: 110px;
	margin-top: 25px;	
}

.wrap {
	margin-top: 30px;
}

.line01 {
	
}

.line02 {
	position:absolute;
	margin-left: 60px;
}

.line03 {
	margin-right: 80px;
	margin-top: -95px;
}

.line04 {
	margin-right: 40px;
}

.line05 {
	
}

.enter {
	margin-left: 880px;
	margin-top: 3px;
}